.contentITContainer {
    /*  background-image: url("/images/duong-thinh-ShUibQcKM1w-unsplash.webp"); */
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
}

.contentITFade {
    background-image: linear-gradient(to right, black, transparent);
    height: 100%;
    padding: 5% 17.5% 5% 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.contentITContainer p{
    color: var(--seccondColor);
}

.contentITFade p {
    font-size: 1.3rem;
    color: white;
} 

@media screen and (max-width: 780px) {
    .contentITFade {
        background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.479),black);
        height: 100%;
    padding: 5% 10% 5% 10%;

    }
}