.imagemLateral {
    margin-top: 30px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 30px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    background-color: transparent;
}

.hero>div {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;

}

@media screen and (max-width: 780px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        width: 80%;
    }

    .hero>div {
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .imagemLateral {
        display: none;
    }
}