.videoBackground {
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
}

.videoBackgroundItem {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.itemDeVideo {
    box-sizing: border-box;
    position: absolute;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    text-align: center;
    justify-content: center;
    padding: 0 10% 0 10%;
    align-content: center;
    background: linear-gradient(to top, var(--seccondColor), transparent, transparent, transparent, transparent), linear-gradient(to bottom, var(--black), rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226));
}

.itemDeVideo>h2 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}