.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: var(--mainColor);
}

.linkBtnHeader{
    font-size: 1.2rem;
}

.linksHeader {
    display: flex;
}

.linksHeader>.linkBtnHeader {
    align-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 150%;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;

}

.linksHeader>.linkBtnHeader:hover {
    background-color: rgba(0, 0, 0, 0.651);
    transition: all 0.3s;

}

.header>div>.linkBtnHeader:nth-child(6),
.header>div>.linkBtnHeader:nth-child(7) {
    background-color: var(--seccondColor);
}

.header>div>.linkBtnHeader:nth-child(6):hover,
.header>div>.linkBtnHeader:nth-child(7):hover {
    background-color: var(--mainColor);
    color: var(--seccondColor);
}