.bigtext {
    text-align: center;
    align-content: center;
    width: 100%;
    margin-top: 20px;
    color: var(--seccondColor);
}

.bigtext>h3 {
    font-size: 3rem;
}

@media screen and (max-width: 780px) {
    .bigtext {
    text-align: center;
    align-content: center;
    width: 80%;
}

.bigtext>h3 {
    font-size: 2rem;
}
}
