body {
    background-color: var(--black);
}

strong {
    color: var(--seccondColor);
}

.yellowSection {
    width: 100%;
    background-color: var(--seccondColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}


:root {
    --mainColor: #4a720a;
    --seccondColor: #ffd323;
    --shadows: 7px 7px 0px #103a03;
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

h1,
h2,
a,
h4,
h3 {
    font-family: "Bebas Neue";
    letter-spacing: 2px;
}


p,li {
    font-family: Inter;
    font-size: 1rem;
}

/* body {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

main {
    background-color: var(--black);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 30px;
}

main section {
    width: 65%;
    row-gap: 30px;
}

main .imagesSection {
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 780px) {
    main {
        background-image: none;
        background-color: var(--black);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        position: relative;
        row-gap: 30px;
    }

}