.ctaBtn{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 217, 0);
    border-radius: 30px;
    transition: all 0.4s;
    background-image: linear-gradient(45deg , orange, transparent, transparent);
    text-decoration: none;
    width: 65%;
}

.ctaBtn h2 {
    text-align: center;align-content: center;
    height: 100%;
    color: var(--black);
}

.ctaBtn:hover{
    transition: all 0.4s;
    scale: 1.05;
    box-shadow: 0 0px 10px var(--mainColor);
}

@media screen and (max-width: 1000px) {
    .ctaBtn{
        width: 80%;
    }
}